body {
    font-family: 'Montserrat', sans-serif;
}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-icons {
    display: flex;
}

.links-icons i {
    cursor: pointer;
    color: gray;
}

.links-icons .circle {
    cursor: pointer;
    margin-left: 12px;
    font-size: 13px;
    background-color: darkslateblue;
    color: white;
    font-weight: 600;
    padding: 2px 6px;
    border-radius: 50%;
}

.links-text a {
    font-size: 14px;
    text-decoration: none;
    margin-right: 8px;
    color: dimgray;
}

.links-text a:hover {
    text-decoration: underline;
    color: blue;
}


/* *** Search Section *** */
.search-section {

    width: 100%;
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo styling */
.logo-container {
    width: 300px;
    text-align: center;
    margin: 10px auto;
}

.logo-container img {
    width: 100%;
}


/* **** Search Input Container styling **** */

.search-input-container {
    display: flex;
    align-items: center;
    border: solid rgb(231, 227, 227) 1px;
    border-radius: 30px;
    padding: 10px 15px;
    width: 450px;
    
}

.search-input-container:hover {
    box-shadow: 1px 2px rgb(231, 227, 227);
}

.search-input-container input {
    border: none;
    outline: none;
    width: 100%;
    margin: 0 15px;
}

.search-input-container i {
    color: grey;
    font-size: 13px;
}

.button-container {
    margin: 15px auto;
    width: fit-content;
}

.button-container button {
    border: none;
    padding: 10px;
    margin: 2px;
    border: solid 1px transparent;
    text-transform: capitalize;
    color: rgb(87, 86, 86);
}

.button-container button:hover {
    box-shadow: 1px 2px rgb(231, 227, 227);
    border: solid 1px rgb(231, 227, 227);
    color: rgb(66, 66, 66);
}


footer {
    background-color: aliceblue;
    padding: 10px 20px;
    color: dimgray;
}

footer .country {
    border-bottom: solid 1px silver;
    padding-bottom: 30px; 
}

footer .copy-right {
    text-align: center;
    padding: 5px;
    font-size: 13px;
}

footer i {
    margin-right: 2px;
}